@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200&display=swap');

* {
    font-family: 'Geologica', sans-serif;
    color: white;
}

#gametitle {
    font-size: 100px;
    margin: 100px;
}

#gameselectlist li {
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 50px;
    list-style: none;
    transition: .2s;
}

#gameselectlist li:hover {
    display: inline-block;
    cursor: pointer;
    opacity: 50%;
    transition: .2s;
}

footer .copyright {
    display: inline-block;
    margin-left: 100px;
    margin-top: 10vh;
}

a {
    text-decoration: none;
}